<h1>Bob's Burger Time!</h1>

<h2>Add a Burger</h2>
<form class="create-update-form" action="/insertBurgers" method="POST">

  <div class="form-group">
    <label for="burg">Burger Name:</label>
    <input type="text" id="burg" name="burger_name">
  </div>

  <button type="submit">Order up!</button>
</form>